Package                 Version
----------------------- -------------------------
absl_py                 1.4.0+computecanada
anyio                   3.6.2+computecanada
argon2_cffi             21.3.0+computecanada
argon2_cffi_bindings    21.2.0+computecanada
asttokens               2.2.1+computecanada
attrs                   22.2.0+computecanada
Babel                   2.12.1
backcall                0.2.0+computecanada
beautifulsoup4          4.12.0
bleach                  6.0.0+computecanada
cachetools              5.3.0+computecanada
certifi                 2022.12.7+computecanada
cffi                    1.15.1+computecanada
charset-normalizer      3.1.0
comm                    0.1.2+computecanada
contourpy               1.0.7+computecanada
cycler                  0.11.0+computecanada
debugpy                 1.6.6+computecanada
decorator               5.1.1+computecanada
defusedxml              0.7.1+computecanada
distro                  1.8.0+computecanada
entrypoints             0.4+computecanada
executing               1.2.0+computecanada
fastjsonschema          2.16.3+computecanada
filelock                3.10.7
fonttools               4.39.2
gdown                   4.7.1
google-auth             2.16.3
google_auth_oauthlib    0.4.6+computecanada
grpcio                  1.51.3+computecanada
idna                    3.4+computecanada
imageio                 2.27.0
ipykernel               6.20.2
ipython                 8.11.0
ipython_genutils        0.2.0+computecanada
itk                     5.0.1
jedi                    0.18.2+computecanada
Jinja2                  3.1.2+computecanada
json5                   0.9.11
jsonschema              4.17.3+computecanada
jupyter_client          7.2.2+computecanada
jupyter_core            4.9.2+computecanada
jupyter_server          1.16.0+computecanada
jupyterlab              3.5.0
jupyterlab_pygments     0.2.2+computecanada
jupyterlab_server       2.16.3
kiwisolver              1.4.4+computecanada
Markdown                3.4.3
MarkupSafe              2.1.2+computecanada
matplotlib              3.7.0+computecanada
matplotlib_inline       0.1.6+computecanada
mistune                 2.0.5+computecanada
monai                   1.1.0
nbclassic               0.5.3
nbclient                0.7.0
nbconvert               7.2.10
nbformat                5.8.0
nest_asyncio            1.5.6+computecanada
networkx                3.0+computecanada
nibabel                 5.0.1+computecanada
notebook                6.5.3
notebook_shim           0.2.2+computecanada
numpy                   1.23.2+computecanada
oauthlib                3.2.2+computecanada
packaging               23.0+computecanada
pandocfilters           1.5.0+computecanada
parso                   0.8.3+computecanada
pexpect                 4.8.0+computecanada
pickleshare             0.7.5+computecanada
Pillow                  9.4.0+computecanada
Pillow_SIMD             9.0.0.post1+computecanada
pip                     23.0.1
prometheus_client       0.16.0+computecanada
prompt-toolkit          3.0.38
protobuf                4.22.1
psutil                  5.9.4+computecanada
ptyprocess              0.7.0+computecanada
pure_eval               0.2.2+computecanada
pyasn1                  0.4.8+computecanada
pyasn1-modules          0.2.8+computecanada
pycparser               2.21+computecanada
Pygments                2.14.0+computecanada
pyparsing               3.0.9+computecanada
pyrsistent              0.19.3+computecanada
PySocks                 1.7.1+computecanada
python-dateutil         2.8.2+computecanada
pytorch-ignite          0.4.2
PyWavelets              1.3.0+computecanada
pyzmq                   25.0.0+computecanada
requests                2.28.2+computecanada
requests_oauthlib       1.3.1+computecanada
rsa                     4.9+computecanada
scikit-build            0.16.7
scikit_image            0.19.3+computecanada
scipy                   1.10.1+computecanada
Send2Trash              1.8.0+computecanada
setuptools              67.3.3
six                     1.16.0+computecanada
sniffio                 1.3.0+computecanada
soupsieve               2.4+computecanada
stack_data              0.6.2+computecanada
tensorboard             2.12.0
tensorboard-data-server 0.7.0
tensorboard_plugin_wit  1.8.1+computecanada
terminado               0.17.1+computecanada
tifffile                2023.3.21
tinycss2                1.2.1+computecanada
tomli                   2.0.1+computecanada
torch                   1.13.1+computecanada
torchinfo               1.7.2
torchmetrics            0.11.4
torchvision             0.14.1+computecanada
tornado                 6.2+computecanada
tqdm                    4.65.0+computecanada
traitlets               5.9.0+computecanada
typing_extensions       4.5.0+computecanada
urllib3                 1.26.15
wcwidth                 0.2.6+computecanada
webencodings            0.5.1+computecanada
websocket_client        1.5.1+computecanada
Werkzeug                2.2.3+computecanada
wheel                   0.38.4+computecanada

